.TodoSearch {
    background: #201F37;
    border-radius: 15px;
    border: 2px solid #e6e4e4;
    margin: 10px 24px;
    height: 35px;
    width: calc(100% - 62px);
    max-width: 400px;
    font-size: 18px;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 400;
    color: #e6e4e4;
    box-shadow: 0px 5px 50px rgba(232, 233, 235, 0.25);
  }
  
  .TodoSearch::placeholder {
    color: #b9b9b9;
    font-family: 'Montserrat';
    font-weight: 400;
  }
  
  .TodoSearch:focus {
    outline-color: #48A6E3;
  }